
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HiddenDemo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5"> 
        <form method="post" action="/postdemo/posthidden">
            <input type="hidden" name="hiddenvalue" value="Hello World"/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
